# Replace every CHANGE_ME value before starting infrastructure.
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES
PRODUCT_DB_PASSWORD=CHANGE_ME_PRODUCT_DB
ORDER_DB_PASSWORD=CHANGE_ME_ORDER_DB
PAYMENT_DB_PASSWORD=CHANGE_ME_PAYMENT_DB
INVENTORY_DB_PASSWORD=CHANGE_ME_INVENTORY_DB
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME_KEYCLOAK_ADMIN
ADMIN_USER_PASSWORD=CHANGE_ME_ADMIN_USER
CUSTOMER_USER_PASSWORD=CHANGE_ME_CUSTOMER_USER
GATEWAY_CLIENT_SECRET=CHANGE_ME_GATEWAY_CLIENT
ORDER_CLIENT_SECRET=CHANGE_ME_ORDER_CLIENT
PAYMENT_OPERATOR_CLIENT_SECRET=CHANGE_ME_PAYMENT_OPERATOR_CLIENT
GRAFANA_ADMIN_PASSWORD=CHANGE_ME_GRAFANA_ADMIN
